.heading {
  margin-top: 155px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.question {
  text-align: center;
}

.link {
  text-decoration: none;
}