.container {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  height: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  min-height: 50px;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  text-decoration: none;
  color: #fff;
  align-items: center;

}